body, html 
 {
    height: 100%;
    padding:0;
    margin:0;
    font-size: 17px;
}

.contain-3 {
    width:95%;
    max-width: 1200px;
    margin: auto;
    padding-top:7%;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contain-2 {
    width:95%;
    max-width: 1200px;
    margin: auto;
    padding-top:7%;

    display:grid;
    grid-template-columns: 1fr 1fr;
}

.bg-outside{
    background: url('/static/master/img/Particles.svg');
}

.bg-inside {
    background: #f0f0f0;
}

/* Colores logo SVG */
.st0{fill:#893C68;stroke:#893C68;stroke-width:3.7906;stroke-linecap:square;stroke-miterlimit:10;}
.st1{fill:#F1C748;stroke:#F1C748;stroke-width:3.7906;stroke-miterlimit:10;}
.st2{fill:#692D52;stroke:#692D52;stroke-width:0.9476;stroke-linecap:square;stroke-miterlimit:10;}
.st3{fill:#F4962F;stroke:#F4962F;stroke-width:0.9476;stroke-linecap:square;stroke-miterlimit:10;}

.logo-small {
    width:50px;
}

.main-font {
    font-family: 'Poppins', sans-serif;
}

.secondary-font {
    font-family: 'Source Code Pro', monospace
}

.brand-text {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #F4962F;
    text-shadow: 2px 2px 2px #4B4764;
    padding-left: 1rem;
}

.title-outside {
    font-size: 2rem;
    color: #4B4764;
}

.subtitle-outside {
    font-size: 1.75rem;
    color: #4B4764;
}

.header-outside {
    font-size: 1.5rem;
    color: #4B4764;
}

.main-text-outside {
    font-size: 1.25rem;
    color: #4B4764;
}

.small-text-outside {
    font-size: 1rem;
    color: #4B4764;
}

.smaller-text-outside {
    font-size: 0.75rem;
    color: #4B4764;
}


.text-container-end{
    text-align:end;
    display: flex;
    align-items: flex-end;
}

.form-outside {
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 12px 12px 16px 0 rgba(0,0,0, 0.25),
                -8px -8px 12px 0 rgba(255,255,255,0.3);
    padding: 10px 50px 25px 50px;
    max-width: 450px;

    display: grid;
    grid-template-rows: 2fr repeat(7 1fr);
}

.form-outside .logo-small {
    display: flex;
    justify-self: center;
    margin: 5px;
}

.form-outside input {
    font-size: 1rem;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    outline: none;
    border: none;
    padding:5px 7px 5px 7px;
    border-radius: 2px;
    box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #ffffff73;
}

.form-outside button {
    font-weight: bolder;
    width:35%;
    padding:5px;
    margin: 5px;
    border-radius: 7px;
    border-style: none;
    background: #d5d4db;
    box-shadow: 8px 8px 12px 0 rgba(0,0,0, 0.25),
    -8px -8px 12px 0 rgba(255,255,255,0.3);
}

.form-outside button:hover {
    font-weight: bolder;
    width:35%;
    padding:5px;
    margin: 5px;
    border-radius: 7px;
    border-style: none;
    background: #BDBBCB;
    box-shadow: none;
}

.form-outside a, p {
    margin: 5px;
}

.form-outside a {
    color:#520330;
}