{% extends 'master/base_in.html' %}
{% load static %}
{% block title %}Loaded {% endblock %}
{% block nav %}
    {% include 'master/nav.html' %} 
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<script type="text/javascript">
    function spinner() {
        document.getElementById("submiter").innerText = "Cargando";
        document.getElementById("submiter").disabled = true;
        document.getElementById("bouncer").style.display = "flex";
        document.getElementById("send-me").submit();
    }
</script>
<div class="contain-header-rows">
    <div class="grid-header-container">
        <h3 class="main-font header">INGRESA LA INFORMACIÓN EN LA BASE DE DATOS</h3>
    </div>
    <div class="contain-2-alt">
        <div class="edit-card">
            <p class="main-font main-text bold">ARCHIVO IFC CARGADO</p>
            <table class="small-table main-font small-text">
                <tbody>
                    <tr>
                        <td class="small-text-bold">Nombre del proyecto:</td>
                        <td class="widest-col">{{ proyecto }}</td>
                    </tr>
                    <tr class="gold-bg">
                        <td class="small-text-bold">Nombre del edificio:</td>
                        <td class="dark-color">{{ edificio }}</td>
                    </tr>
                    <tr class="gold-bg">
                        <td class="small-text-bold">Aplicación de origen:</td>
                        <td class="dark-color">{{ aplicacion }}</td>
                    </tr>
                    <tr class="gold-bg">
                        <td class="small-text-bold">Versión de IFC:</td>
                        <td class="dark-color">{{ esquema }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="edit-card">
            <p class="main-font main-text bold">IDENTIFICA TU MODELO</p>
            <form class="form no-color main-font" action="{% url 'analizer' %}" method="post" id="send-me">
                {% csrf_token %}
                <label for="modelName">Nombre del modelo: </label>
                <input class="form-control" type="text" name="modelName" id="modelName">
                <label for="modelType">Especialidad: </label>
                <select class="form-control" name="modelType" id="modelType">
                    <option value="ARQ">Arquitectura</option>
                    <option value="SIT">Sitio</option>
                    <option value="VOL">Volumen</option>
                </select>
                <input type="hidden" name="esquema" value="{{ esquema }}">
                <input type="hidden" name="aplicacion" value="{{ aplicacion }}">

                <button class="yellow-button" type="submit" id="submiter" onclick="spinner()">Analizar</button>
            </form>
            <div class="bouncer" id="bouncer">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

