{% extends 'master/base_in.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Loader {% endblock %}
{% block nav %}
    {% include 'master/nav.html' %} 
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<script type="text/javascript">
    function spinner() {
        document.getElementById("submiter").innerText = "Cargando";
        document.getElementById("submiter").disabled = true;
        document.getElementById("bouncer").style.display = "flex";
        document.getElementById("send-me").submit();
    }
</script>
<div class="contain-header-rows">
    <div class="grid-header-container">
        <h3 class="main-font header">CARGA UN MODELO IFC</h3>
    </div>
    <div class="contain-2">
        <div></div>
        <div class="edit-card-long">
            <form action="" method="post" enctype="multipart/form-data" class="form no-color main-font" id="send-me">
                {% csrf_token %}
                {{ form }}
                <button class="yellow-button main-font" type="submit" id="submiter" onclick="spinner()">Cargar</button>
            </form>
            <div class="bouncer" id="bouncer">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <a href="{% url 'dashboard' %}"><img src="/static/master/img/back.svg" alt="Volver atrás" class="small-icon more-space-top"></a>
</div>
{% endblock %}