{% extends 'master/base_in.html' %}
{% load static %}
{% block title %}New Project {% endblock %}
{% block nav %}
    {% include 'master/nav.html' %} 
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="contain-header-rows">
    <div class="grid-header-container">
        <h3 class="main-font header-text bold">CREA UN PROYECTO</h3>
    </div>
    <div class="contain-3">
        <form class="form main-font no-color" action="{% url 'new_project' %}" method="post">
            {% csrf_token %}
            <label for="project_name" class="light-color">Nombre del proyecto</label>
            <input class="form-control" type="text" name="project_name" id="project_name">
            <label for="project_desc" class="light-color">Descripción del proyecto</label>
            <input class="form-control" type="text" name="project_desc" id="project_desc">
            <button class="yellow-button" type="submit">Crear</button>
        </form>
    </div>
    <div class="button-div more-space-top">
        <a href="{% url 'dashboard' %}"><img src="/static/master/img/back.svg" alt="Volver atrás" class="small-icon"></a>
    </div>
</div>
{% endblock %}