{% extends 'master/base.html' %}
{% load static %}
{% block title %}Reset Password {% endblock %}
    {% load crispy_forms_tags %}
{% block nav %}
{% endblock %}
{% block header %}
<p class="main-font brand-text">iX</p>
{% endblock %}
{% block content %}
<div class="contain-2">
    <div class="text-container-lead">
        <p class="main-font title-outside">¿Olvistaste tu correo?</p>
            <p class="main-font small-text-outside">Ingresa tu correo a continuación y te enviaremos las instrucciones para crear una nueva.</p>
            <form class="main-font form-outside small-text-outside"method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="smaller-text-outside">Enviar</button>
                <a class="smaller-text-outside" href="{% url 'home'%}">Volver atrás</a>
            </form>            
        </div>
    </div>
</div>
{% endblock %}